In [1]:
import pandas as pd

In [16]:
bool_table = pd.DataFrame({"a":[True, False, True, False], "b":[True, True, False, False]})

In [3]:
bool_table

       a      b
0   True   True
1  False   True
2   True  False
3  False  False

In [4]:
# in pandas, & represents and
bool_table['a and b'] = bool_table.a & bool_table.b

In [5]:
bool_table

       a      b  a and b
0   True   True     True
1  False   True    False
2   True  False    False
3  False  False    False

In [7]:
# in pandas, | represents or
bool_table['a or b'] = bool_table.a | bool_table.b

In [8]:
bool_table

       a      b  a and b  a or b
0   True   True     True    True
1  False   True     True    True
2   True  False     True    True
3  False  False    False   False

In [17]:
# in pandas, ~ represents not
bool_table['not b'] = ~bool_table.b

In [19]:
# in pandas, ~ represents not
bool_table['a and not b'] = bool_table.a & ~bool_table.b

In [20]:
bool_table

       a      b  not b  a and not b
0   True   True  False        False
1  False   True  False        False
2   True  False   True         True
3  False  False   True        False

In [21]:
washing_machine = pd.DataFrame({"start pressed":[True, False, True, False], "door closed":[True, True, False, False]})

In [22]:
washing_machine

   start pressed  door closed
0           True         True
1          False         True
2           True        False
3          False        False

In [23]:
washing_machine['running'] = washing_machine['start pressed'] & washing_machine['door closed']

In [24]:
washing_machine

   start pressed  door closed  running
0           True         True     True
1          False         True    False
2           True        False    False
3          False        False    False