In [ ]:
# map

In [1]:
mylist = ['a', 'bc', 'def', 'ghij', 'k', 'lmn']
map(len, mylist)

In [2]:
list(map(len, mylist))

[1, 2, 3, 4, 1, 3]

In [3]:
def str_len(word_list):
    newlist = []
    for w in word_list:
        newlist.append(len(w))
    return newlist
print(str_len(mylist))

[1, 2, 3, 4, 1, 3]

In [4]:
def double(n):
    return n * 2

mylist = [1, 2, 5, 10, 3]
list(map(double, mylist))

[2, 4, 10, 20, 6]

In [5]:
mylist = range(10)
list(map(double, mylist))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
# capitalize
mylist = ['a', 'bc', 'def', 'ghij', 'k', 'lmn']
map(str.capitalize, mylist)
list(map(str.capitalize, mylist))

['A', 'Bc', 'Def', 'Ghij', 'K', 'Lmn']

In [7]:
# filter
def is_odd(n):
    return n % 2 == 1

print(is_odd(3))

True

In [8]:
mylist = [1, 2, 5, 10, 3]
odd_only = filter(is_odd, mylist)

In [9]:
odd_only

In [10]:
type(odd_only)

filter

In [11]:
print(list(odd_only))

[1, 5, 3]

In [13]:
def filter_odd(num_list):
    newlist = []
    for n in num_list:
        if is_odd(n):
            newlist.append(n)
    return newlist

filter_odd(mylist)

[1, 5, 3]

In [14]:
mylist = ['a', 'Bc', 'def', 'GHIJ', 'K', 'lmn', 'oP']
print(list(filter(str.islower, mylist)))

['a', 'def', 'lmn']

In [ ]:
# sorted

In [15]:
mylist = [1, -5, 10, -3, 5, -12, 200, -40, 77, 44]
sorted(mylist)

[-40, -12, -5, -3, 1, 5, 10, 44, 77, 200]

In [16]:
mylist

[1, -5, 10, -3, 5, -12, 200, -40, 77, 44]

In [17]:
mylist.sort()
mylist

[-40, -12, -5, -3, 1, 5, 10, 44, 77, 200]

In [18]:
mylist

[-40, -12, -5, -3, 1, 5, 10, 44, 77, 200]

In [19]:
mylist.sort(reverse=True)
mylist

[200, 77, 44, 10, 5, 1, -3, -5, -12, -40]

In [20]:
mylist = [1, -5, 10, -3, 5, -12, 200, -40, 77, 44]

sorted(mylist, key=abs)

[1, -3, -5, 5, 10, -12, -40, 44, 77, 200]

In [21]:
mylist = ['A', 'b', 'Z', 'y', 'G', 'g']
print(sorted(mylist))

['A', 'G', 'Z', 'b', 'g', 'y']

In [22]:
mylist = ['A', 'b', 'Z', 'y', 'G', 'g']
print(sorted(mylist, key=str.casefold))

['A', 'b', 'G', 'g', 'y', 'Z']

In [23]:
lod = [{ 'name': 'Ginni', 'score': 96}, 
 { 'name': 'Jeff', 'score': 85},
 { 'name': 'Mark', 'score': 72}, 
 { 'name': 'Satya', 'score': 90}, 
 { 'name': 'Tim', 'score': 82}
]

print(sorted(lod))

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [24]:
def get_score(e):
    return e['score']

print(sorted(lod, key=get_score))

[{'name': 'Mark', 'score': 72}, {'name': 'Tim', 'score': 82}, {'name': 'Jeff', 'score': 85}, {'name': 'Satya', 'score': 90}, {'name': 'Ginni', 'score': 96}]

In [25]:
print(sorted(lod, key=get_score, reverse=True))

[{'name': 'Ginni', 'score': 96}, {'name': 'Satya', 'score': 90}, {'name': 'Jeff', 'score': 85}, {'name': 'Tim', 'score': 82}, {'name': 'Mark', 'score': 72}]

In [26]:
def get_name(e):
    return e['name']

print(sorted(lod, key=get_name))

[{'name': 'Ginni', 'score': 96}, {'name': 'Jeff', 'score': 85}, {'name': 'Mark', 'score': 72}, {'name': 'Satya', 'score': 90}, {'name': 'Tim', 'score': 82}]